@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply w-[100vw] overflow-hidden;
}

@font-face {
  font-family: "VCR";
  src:
    url("../public/VCROSDMono.woff2") format("woff2"),
    url("../public/VCROSDMono.woff") format("woff");
  font-weight: regular;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alt_Mono";
  src:
    url("../public/AltMono-Bold.woff2") format("woff2"),
    url("../public/AltMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alt_Mono";
  src:
    url("../public/AltMono-Regular.woff2") format("woff2"),
    url("../public/AltMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alt_Mono";
  src:
    url("../public/AltMono-Light.woff2") format("woff2"),
    url("../public/AltMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-alt;
}

button {
  @apply p-1 px-2 border border-black rounded hover:bg-black/10 [&:disabled]:opacity-50;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.video-frame {
  @apply w-auto h-full aspect-video;
}

@media screen and (max-aspect-ratio: 16/9) {
  .video-frame {
    @apply w-full h-auto;
  }
}

.poll-heading-gradient {
  background: linear-gradient(
    39deg,
    rgba(254, 82, 248, 1) 62%,
    rgba(254, 82, 248, 0) 100%
  );
}

mux-player {
  --time-range: none;
  --time-display: none;
  --seek-live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --playback-rate-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --time-range: none;
}
