@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pickle-beige;
}

button {
  @apply p-1 px-2 border border-black rounded hover:bg-black/10 [&:disabled]:opacity-50;
}

.no-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.video-frame {
  @apply w-auto h-full aspect-video;
}

@media screen and (max-aspect-ratio: 16/9) {
  .video-frame {
    @apply w-full h-auto;
  }
}
